{% extends 'plantillas/principal.twig' %}

{% block content %}

    <h1>Bienvenido a la página de demostración de Inyección de Dependencias y Rutas!</h1>

    <ul>
        <li><a href="/profesores">Listado de Profesores</a></li>
        <li><a href="/articulos">Listado de Artículos</a></li>
        <li><a href="/pato">Ruta inexistente</a></li>
    </ul>

{% endblock %}
